body {
  background-color: #393e46;
}
footer {
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
  margin-top: 5%;
}
img {
  width: 80%;
}

.box {
  text-align: center;
}
.topic {
  font-size: 8rem;
  color: #4ecca3;
  font-family: "Lobster", cursive;
  text-align: center;
  text-shadow: 5px 0 #232931;
  margin: 1.5rem;
}
.player {
  display: inline-block;
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  text-align: center;
  padding: 1%;
}
